{
  "presets": [
    "@babel/preset-env" // 構文変換
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties", // クラス構文
    "@babel/plugin-proposal-object-rest-spread", // スプレッド構文
    [
      // jsx 変換
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "h",
        "pragmaFrag": "Fragment"
      }
    ]
  ]
}
