.root {
  flex-grow: 1;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: #eeeeee;
  transition: background-color 0.1s ease-out;

  &:focus-within {
    background-color: #e0e0e0;
  }
}

.input {
  flex-grow: 1;
  height: 48px;
  padding: 4px 24px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  color: unset;
}

.speechButtonWrapper {
  position: relative;
  border-radius: 50%;
}

.speechButtonRipple {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.5;
}

.inputtingVoice {
  background-color: #80cbc4;
  fill: white;

  & .speechButtonRipple {
    background-color: #80cbc4;
    animation: speechButtonRippleAnime 2.5s infinite ease-in-out;
  }
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes speechButtonRippleAnime {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.5);
  }

  50% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}
