@import "@material/icon-button/mdc-icon-button";
@import "@material/dialog/mdc-dialog";
@import "@material/button/mdc-button";

body {
  margin: 0;
  overflow: hidden;
  font-family: Roboto;
}

.mdc-icon-button__icon {
  pointer-events: none;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

header {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  background-color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}
header section {
  flex-grow: 1;
  display: flex;
  align-items: center;
  min-height: 48px;
}

header section.end {
  justify-content: flex-end;
}

main {
  flex: 1;
}

footer {
  position: sticky;
  bottom: 0;

  display: flex;
  align-items: center;
  margin-top: 12px;
  padding: 8px 24px;
  background-color: white;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

#data {
  margin-right: 24px;
}

#answer-area {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
  background-color: #eaeaea;
}
#answer {
  flex-grow: 1;
  flex-shrink: 0;
  width: 0;
  height: 48px;
  padding: 4px 24px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
}

#poke-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#speech .mdc-dialog__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speech-icon {
  width: 96px;
  height: 96px;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #3f51b5;

  fill: white;
}

.speech-text {
  margin-top: 24px;
  font-size: 24px;
}

#banner-area {
  position: fixed;
  top: 12px;
  right: 12px;
  pointer-events: none;
}
.banner {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 4px 24px;
  height: 56px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #eee;
  overflow: hidden;
  animation: bannerShow 4s;
}
.banner img {
  width: 48px;
  margin-right: 24px;
}

@keyframes bannerShow {
  0% {
    margin-bottom: 12px;
    padding: 4px 24px;
    max-height: 56px;
    transform: translateX(120%);
  }
  20% {
    margin-bottom: 12px;
    padding: 4px 24px;
    max-height: 56px;
    transform: translateX(0);
  }
  70% {
    margin-bottom: 12px;
    padding: 4px 24px;
    max-height: 56px;
    transform: translateX(0);
  }
  90% {
    margin-bottom: 12px;
    padding: 4px 24px;
    max-height: 56px;
    transform: translateX(120%);
  }
  100% {
    margin-bottom: 0;
    padding: 0;
    max-height: 0;
    transform: translateX(120%);
  }
}
